openapi: 3.2.0
info:
  title: NextGen Catalog Utilities API
  version: 0.2.0
  description: This is the NextGen Catalog API application made with Express and documented with Swagger.
servers:
- url: https://catalog.archives.gov/api/v2/
tags:
- name: Utilities
paths:
  /fetch-coords:
    post:
      summary: Fetch JSON data from S3 based on a provided URL
      description: This endpoint receives an S3 URL pointing to a resource, modifies the URL to target a JSON file instead of an image, and returns the content of the JSON file.
      tags:
      - Utilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - s3Url
              properties:
                s3Url:
                  type: string
                  description: The S3 URL pointing to the original image file.
                  example: https://s3.amazonaws.com/bucket-name/path/to/file.jpg
      responses:
        '200':
          description: JSON data successfully retrieved from the specified S3 URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  averageConfidenceScore:
                    type: number
                    description: The average confidence score of the digital object transcription.
                  data:
                    type: object
                    description: The structure of the JSON data can vary depending on the content of the file.
                    example:
                      DocumentMetadata:
                        Pages: 1
                      Blocks:
                      - BlockType: PAGE
                        Text: Example text
        '400':
          description: Invalid S3 URL format. Please check the URL and try again.
        '500':
          description: Server error occurred while fetching JSON from S3.
      operationId: postFetchCoords
      x-operation-id-source: derived
