openapi: 3.2.0
info:
  title: NextGen Catalog Extracted Text API
  version: 0.2.0
  description: This is the NextGen Catalog API application made with Express and documented with Swagger.
servers:
- url: https://catalog.archives.gov/api/v2/
tags:
- name: Extracted Text
paths:
  /extractedText/{naId}:
    get:
      summary: Get extracted text for a given naid and digital object ID
      description: Returns a list of extracted text for a given naid and digital object ID.
      tags:
      - Extracted Text
      parameters:
      - $ref: '#/components/parameters/paramPathNaId'
      - $ref: '#/components/parameters/paramObjectIdInQuery'
      - $ref: '#/components/parameters/paramPage'
      - $ref: '#/components/parameters/paramLimit'
      responses:
        '200':
          description: A list of digital object IDs.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    objectId:
                      type: string
                      description: The digital object ID.
                    extractedText:
                      type: string
                      description: The extracted text.
        '400':
          description: Bad Request. Invalid naid provided.
        '404':
          description: No matching records found.
        '500':
          description: Internal server error.
      operationId: getExtractedTextByNaId
      x-operation-id-source: derived
components:
  parameters:
    paramLimit:
      in: query
      name: limit
      description: Maximum number of results returned for each page of paginated data.
      required: false
      schema:
        default: 20
        maximum: 1000
        type: integer
      example: 75
    paramPathNaId:
      in: path
      name: naId
      description: Unique, NARA-specific identifier given to each record.
      required: false
      schema:
        maximum: 30
        type: integer
      example: 146919092
    paramPage:
      in: query
      name: page
      description: Page number of the paginated result set in which to return.
      required: false
      schema:
        default: 1
        maximum: 10000
        type: integer
      example: 20
    paramObjectIdInQuery:
      in: query
      name: objectId
      description: Unique ID given to an object
      required: true
      schema:
        maximum: 30
        type: integer
      example: 152951242
