{"openapi":"3.0.0","info":{"title":"NextGen Catalog API","version":"0.2.0","description":"\nThis is the NextGen Catalog API application made with Express and documented with Swagger.\n\nThis API requires the use of an API key in order to access. Once you have obtained an API key, you can pass the API key into a REST API call in the x-api-key header of the request. For example, the request might look like\n\n    curl --location --request GET 'https://catalog.archives.gov/api/v2/records/search?q=constitution'\n    --header 'Content-Type: application/json'\n    --header 'x-api-key: API_KEY'\n\nwhere API_KEY is the key string of your API key.\n\nFor write operations, in addition to the API key, a user ID in the format of a Universally Unique Identifier (UUID) is required in the body of the request. For example, a request to POST a tag might look like:\n\n    curl --location --request POST 'https://catalog.archives.gov/api/v2/tags'\n    --header 'Content-Type: application/json'\n    --data-raw '{\n    \"tag\": \"example tag\",\n    \"targetNaId\": 1667751,\n    \"userId\": \"USER_UUID\"\n    }'\nwhere USER_UUID is the UUID of the user.\n\nPlease contact O&M at Catalog_API@nara.gov for an API Key."},"servers":[{"url":"https://catalog.archives.gov/api/v2/"}],"paths":{"/records/search":{"get":{"summary":"Get records by using url parameters to perform a catalog search.","description":"Get records by using url parameters to perform a catalog search. Returns a JSON result.","tags":["Records"],"parameters":[{"$ref":"#/components/parameters/paramQuery"},{"$ref":"#/components/parameters/paramPage"},{"$ref":"#/components/parameters/paramLimit"},{"$ref":"#/components/parameters/paramSearchAfterRecord"},{"$ref":"#/components/parameters/paramSourceIncludes"},{"$ref":"#/components/parameters/paramTitle"},{"$ref":"#/components/parameters/paramTitleIs"},{"$ref":"#/components/parameters/paramNaId"},{"$ref":"#/components/parameters/paramNaIdIs"},{"$ref":"#/components/parameters/paramObjectCount"},{"$ref":"#/components/parameters/paramOnline"},{"$ref":"#/components/parameters/paramLevel"},{"$ref":"#/components/parameters/paramPersonOrOrg"},{"$ref":"#/components/parameters/paramSource"},{"$ref":"#/components/parameters/paramMaterials"},{"$ref":"#/components/parameters/paramControlNumbers"},{"$ref":"#/components/parameters/paramLocalID"},{"$ref":"#/components/parameters/paramLocalIDIs"},{"$ref":"#/components/parameters/paramMicroformPublicationsID"},{"$ref":"#/components/parameters/paramMicroformPublicationsIDIs"},{"$ref":"#/components/parameters/paramControlNumberIs"},{"$ref":"#/components/parameters/paramControlType"},{"$ref":"#/components/parameters/paramControlTypeIs"},{"$ref":"#/components/parameters/paramControlGroup"},{"$ref":"#/components/parameters/paramCollectionIdentifier"},{"$ref":"#/components/parameters/paramRecordGroupNumber"},{"$ref":"#/components/parameters/paramCreators"},{"$ref":"#/components/parameters/paramObjectType"},{"$ref":"#/components/parameters/paramReferenceUnits"},{"$ref":"#/components/parameters/paramGeographicReference"},{"$ref":"#/components/parameters/paramAncestorNaId"},{"$ref":"#/components/parameters/paramDebug"},{"$ref":"#/components/parameters/paramAbbreviated"},{"$ref":"#/components/parameters/paramStartDate"},{"$ref":"#/components/parameters/paramEndDate"},{"$ref":"#/components/parameters/paramFieldExists"},{"$ref":"#/components/parameters/paramContributionsExist"},{"$ref":"#/components/parameters/paramTagsExist"},{"$ref":"#/components/parameters/paramTranscriptionsExist"},{"$ref":"#/components/parameters/paramCommentsExist"},{"$ref":"#/components/parameters/paramExactDate"},{"$ref":"#/components/parameters/paramExcludeField"},{"$ref":"#/components/parameters/paramRecurringDateDay"},{"$ref":"#/components/parameters/paramRecurringDateMonth"},{"$ref":"#/components/parameters/paramBeginCongress"},{"$ref":"#/components/parameters/paramEndCongress"},{"$ref":"#/components/parameters/paramCongressNumber"},{"$ref":"#/components/parameters/paramTagContribution"},{"$ref":"#/components/parameters/paramCommentContribution"},{"$ref":"#/components/parameters/paramTranscriptionContribution"},{"$ref":"#/components/parameters/paramExtractedTextContribution"},{"$ref":"#/components/parameters/paramIncludeExtractedText"},{"$ref":"#/components/parameters/paramIncludeOtherExtractedText"},{"$ref":"#/components/parameters/paramIngestTimeStart"},{"$ref":"#/components/parameters/paramIngestTimeEnd"}],"responses":{"200":{"description":"A body of response data containing full record objects if any were found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity."}}}},"/records/search/by-other-extracted-text":{"get":{"summary":"Get records by using other extracted text to perform a catalog search.","description":"Get records by using other extracted text to perform a catalog search. Returns a JSON result.","tags":["Records"],"parameters":[{"$ref":"#/components/parameters/paramQuery"},{"$ref":"#/components/parameters/paramPage"},{"$ref":"#/components/parameters/paramLimit"}],"responses":{"200":{"description":"A body of response data containing full record objects if any were found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity."}}}},"/records/search/by-contribution":{"get":{"summary":"Get records related to contributions by using url parameters to perform a catalog search.","description":"Get records related to contributions by using url parameters to perform a catalog search. Returns a JSON result.","tags":["Records"],"parameters":[{"$ref":"#/components/parameters/paramContQuery"},{"$ref":"#/components/parameters/paramContId"},{"$ref":"#/components/parameters/paramUserName"},{"$ref":"#/components/parameters/paramUserId"},{"$ref":"#/components/parameters/paramNaId"},{"$ref":"#/components/parameters/paramDebug"},{"$ref":"#/components/parameters/paramAbbreviated"}],"responses":{"200":{"description":"A body of response data containing full record objects if any were found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity."}}}},"/records/search/by-tag":{"get":{"summary":"Get records related to tags by using url parameters to perform a catalog search.","description":"Get records related to tags by using url parameters to perform a catalog search. Returns a JSON result.","tags":["Records"],"parameters":[{"$ref":"#/components/parameters/paramContQuery"},{"$ref":"#/components/parameters/paramContId"},{"$ref":"#/components/parameters/paramUserName"},{"$ref":"#/components/parameters/paramUserId"},{"$ref":"#/components/parameters/paramNaId"},{"$ref":"#/components/parameters/paramPage"},{"$ref":"#/components/parameters/paramLimit"},{"$ref":"#/components/parameters/paramTagIs"},{"$ref":"#/components/parameters/paramDebug"},{"$ref":"#/components/parameters/paramAbbreviated"}],"responses":{"200":{"description":"A body of response data containing full record objects if any were found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity."}}}},"/records/search/by-transcription":{"get":{"summary":"Get records related to transcriptions by using url parameters to perform a catalog search.","description":"Get records related to transcriptions by using url parameters to perform a catalog search. Returns a JSON result.","tags":["Records"],"parameters":[{"$ref":"#/components/parameters/paramContQuery"},{"$ref":"#/components/parameters/paramContId"},{"$ref":"#/components/parameters/paramUserName"},{"$ref":"#/components/parameters/paramUserId"},{"$ref":"#/components/parameters/paramNaId"},{"$ref":"#/components/parameters/paramPage"},{"$ref":"#/components/parameters/paramLimit"},{"$ref":"#/components/parameters/paramDebug"},{"$ref":"#/components/parameters/paramAbbreviated"}],"responses":{"200":{"description":"A body of response data containing full record objects if any were found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity."}}}},"/records/search/by-comment":{"get":{"summary":"Get records related to comments by using url parameters to perform a catalog search.","description":"Get records related to comments by using url parameters to perform a catalog search. Returns a JSON result.","tags":["Records"],"parameters":[{"$ref":"#/components/parameters/paramContQuery"},{"$ref":"#/components/parameters/paramContId"},{"$ref":"#/components/parameters/paramUserName"},{"$ref":"#/components/parameters/paramUserId"},{"$ref":"#/components/parameters/paramNaId"},{"$ref":"#/components/parameters/paramPage"},{"$ref":"#/components/parameters/paramLimit"},{"$ref":"#/components/parameters/paramDebug"},{"$ref":"#/components/parameters/paramAbbreviated"}],"responses":{"200":{"description":"A body of response data containing full record objects, if any were found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity."}}}},"/records/parentNaId/{parentNaId}":{"get":{"summary":"Get records which are immediate children of a specified parentNaId.","description":"Get records which are immediate children of a specified parentNaId. Returns a JSON result.","tags":["Records"],"parameters":[{"in":"path","name":"parentNaId","schema":{"type":"string"},"required":true,"description":"id of parent whose immediate children to return","example":"7005"},{"$ref":"#/components/parameters/paramControlGroup"},{"$ref":"#/components/parameters/paramPage"},{"$ref":"#/components/parameters/paramLimit"},{"$ref":"#/components/parameters/paramDebug"},{"$ref":"#/components/parameters/paramAbbreviated"},{"$ref":"#/components/parameters/paramIngestionTimeStart"},{"$ref":"#/components/parameters/paramIngestionTimeEnd"}],"responses":{"200":{"description":"A body of response data containing full record objects, if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/tags/search":{"get":{"summary":"Get search results for tag data by sending a request with search parameters to the catalog.","description":"Get search results for tag data by sending a request with search parameters to the catalog. Returns a JSON result.","tags":["Tags"],"parameters":[{"$ref":"#/components/parameters/paramContQuery"},{"$ref":"#/components/parameters/paramContId"},{"$ref":"#/components/parameters/paramUserName"},{"$ref":"#/components/parameters/paramUserId"},{"$ref":"#/components/parameters/paramNaId"},{"$ref":"#/components/parameters/paramDebug"}],"responses":{"200":{"description":"A body of response data containing full tag objects if any were found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity."}}}},"/tags/{id}":{"get":{"summary":"Get a single tag object by tag id.","description":"Get a single tag object by tag id. Returns a JSON result.","tags":["Tags"],"parameters":[{"in":"path","$ref":"#/components/parameters/paramContId"},{"$ref":"#/components/parameters/paramDebug"}],"responses":{"200":{"description":"A body of response data containing a tag object if it was found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity."}}}},"/tags/naId/{naId}":{"get":{"summary":"Get tags by their parent record's naId.","description":"Get tags by their parent record's naId. Returns a JSON result.","tags":["Tags"],"parameters":[{"in":"path","name":"naId","schema":{"type":"string"},"required":true,"description":"naId of parent record whose tags to return","example":"31124739"},{"$ref":"#/components/parameters/paramDebug"}],"responses":{"200":{"description":"A body of response data containing tag objects if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/tags/userId/{userId}":{"get":{"summary":"Get tags by their contributor's userId.","description":"Get tags by their contributor's userId. Returns a JSON result.","tags":["Tags"],"parameters":[{"in":"path","name":"userId","schema":{"type":"string"},"required":true,"description":"userId of tag to return","example":"5b18f857-29d7-31a9-b944-f4e68c12fd3f"},{"$ref":"#/components/parameters/paramDebug"}],"responses":{"200":{"description":"A body of response data containing tag objects if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/tags/":{"post":{"summary":"Add a tag.","description":"Add a tag to a record.","tags":["Tags"],"requestBody":{"description":"Add a tag to a record.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tagBody"}}}},"responses":{"200":{"description":"A response body containing confirmation that the tag was added successfully."},"422":{"description":"An error response while processing the request to add a tag."}}}},"/tags/:contributionId":{"delete":{"summary":"Deactivate/remove a tag.","description":"Change the status of a tag to 'inactive' or 'removed'. Normal tags will be made inactive. Administrator tags will be removed.","tags":["Tags"],"parameters":[{"in":"path","name":"contributionId","schema":{"type":"string"},"required":true,"description":"contributionId of a tag to be deactivated/removed.","example":"e3fe99d2-7af7-11ec-90d6-0242ac120003"},{"in":"body","name":"userId","schema":{"type":"string"},"required":true,"description":"userId of the user that created the tag to be deactivated/removed.","example":"55555555-5555-5555-5555-555555555555"},{"in":"body","name":"justificationId","schema":{"type":"number"},"required":false,"description":"justificationId for the tag being deactivated/removed. Defaults to","example":2},{"in":"body","name":"actionNotes","schema":{"type":"string"},"required":false,"description":"Additional notes for the tag being deactivated/removed. Defaults to the empty string.","example":"Tag removed at users request."}],"responses":{"200":{"description":"A response body containing confirmation that the tag was deactivated/removed successfully."},"409":{"description":"An error response while processing the request to deactivate/remove the tag."}}}},"/comments/search":{"get":{"summary":"Get search results for comment data by sending a request with search parameters to the catalog.","description":"Get search results for comment data by sending a request with search parameters to the catalog. Returns a JSON result.","tags":["Comments"],"parameters":[{"$ref":"#/components/parameters/paramContQuery"},{"$ref":"#/components/parameters/paramContId"},{"$ref":"#/components/parameters/paramUserName"},{"$ref":"#/components/parameters/paramUserId"},{"$ref":"#/components/parameters/paramNaId"},{"$ref":"#/components/parameters/paramDebug"}],"responses":{"200":{"description":"A body of response data containing full comment objects if any were found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity."}}}},"/comments/{id}":{"get":{"summary":"Get a single comment object by comment id.","description":"Get a single comment object by comment id. Returns a JSON result.","tags":["Comments"],"parameters":[{"in":"path","$ref":"#/components/parameters/paramContId"},{"$ref":"#/components/parameters/paramDebug"}],"responses":{"200":{"description":"A body of response data containing a comment object if it was found."},"422":{"description":"Unprocessable Entity."}}}},"/comments/naId/{naId}":{"get":{"summary":"Get comments by their parent record's naId.","description":"Get comments by their parent record's naId. Returns a JSON result.","tags":["Comments"],"parameters":[{"in":"path","name":"naId","schema":{"type":"string"},"required":true,"description":"naId of parent record whose comments to return","example":"57664721"},{"$ref":"#/components/parameters/paramDebug"}],"responses":{"200":{"description":"A body of response data containing comment objects if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/comments/userId/{userId}":{"get":{"summary":"Get comments by their contributor's userId.","description":"Get comments by their contributor's userId. Returns a JSON result.","tags":["Comments"],"parameters":[{"in":"path","name":"userId","schema":{"type":"string"},"required":true,"description":"userId of contributor whose comments to return","example":"5b18f857-29d7-31a9-b944-f4e68c12fd3f"},{"$ref":"#/components/parameters/paramDebug"}],"responses":{"200":{"description":"A body of response data containing comment objects if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/comments/":{"post":{"summary":"Add a comment.","description":"Add a comment to a record.","tags":["Comments"],"requestBody":{"description":"Add a comment to a record.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/commentBody"}}}},"responses":{"200":{"description":"A response body containing confirmation that the comment was added successfully."},"422":{"description":"An error response while processing the request to add a comment."}}}},"/comments/{contributionId}":{"patch":{"summary":"Update a comment.","description":"Update a comment on a record.","tags":["Comments"],"parameters":[{"in":"path","name":"contributionId","schema":{"type":"string"},"required":true,"description":"contributionId of comment to update","example":"cf831974-7af7-11ec-90d6-0242ac120003"}],"requestBody":{"description":"Update a comment on a record.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/commentUpdateBody"}}}},"responses":{"200":{"description":"A response body containing confirmation that the comment was added successfully."},"422":{"description":"An error response while processing the request to add a comment."}}},"delete":{"summary":"Deactivate/remove a comment.","description":"Change the status of a comment to 'inactive' or 'removed'. Normal comments will be made inactive. Administrator comments will be removed.","tags":["Comments"],"parameters":[{"in":"path","name":"contributionId","schema":{"type":"string"},"required":true,"description":"contributionId of a comment to be deactivated/removed.","example":"e3fe99d2-7af7-11ec-90d6-0242ac120003"},{"in":"body","name":"userId","schema":{"type":"string"},"required":true,"description":"userId of the user that created the comment to be deactivated/removed.","example":"55555555-5555-5555-5555-555555555555"},{"in":"body","name":"justificationId","schema":{"type":"number"},"required":false,"description":"justificationId for the comment being deactivated/removed. Defaults to","example":2},{"in":"body","name":"actionNotes","schema":{"type":"string"},"required":false,"description":"Additional notes for the comment being deactivated/removed. Defaults to the empty string.","example":"Comment removed at users request."}],"responses":{"200":{"description":"A response body containing confirmation that the comment was deactivated/removed successfully."},"409":{"description":"An error response while processing the request to deactivate/remove a comment."}}}},"/transcriptions/search":{"get":{"summary":"Get search results for transcriptions data by sending a request with search parameters to the catalog.","description":"Get search results for transcriptions data by sending a request with search parameters to the catalog. Returns a JSON result.","tags":["Transcriptions"],"parameters":[{"$ref":"#/components/parameters/paramContQuery"},{"$ref":"#/components/parameters/paramContId"},{"$ref":"#/components/parameters/paramUserName"},{"$ref":"#/components/parameters/paramUserId"},{"$ref":"#/components/parameters/paramNaId"},{"$ref":"#/components/parameters/paramDebug"}],"responses":{"200":{"description":"A body of response data containing full transcription objects if any were found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity."}}}},"/transcriptions/{id}":{"get":{"summary":"Get a single transcription object by transcription id.","description":"Get a single transcription object by transcription id. Returns a JSON result.","tags":["Transcriptions"],"parameters":[{"in":"path","$ref":"#/components/parameters/paramContId"},{"$ref":"#/components/parameters/paramDebug"}],"responses":{"200":{"description":"A body of response data containing a transcription object if it was found."},"422":{"description":"Unprocessable Entity."}}}},"/transcriptions/naId/{naId}":{"get":{"summary":"Get transcriptions by their parent record's naId.","description":"Get transcriptions by their parent record's naId. Returns a JSON result.","tags":["Transcriptions"],"parameters":[{"in":"path","name":"naId","schema":{"type":"string"},"required":true,"description":"naId of parent record whose transcriptions to return","example":"893506"},{"$ref":"#/components/parameters/paramDebug"}],"responses":{"200":{"description":"A body of response data containing transcriptions objects if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/transcriptions/userId/{userId}":{"get":{"summary":"Get transcriptions by their contributor's userId.","description":"Get transcriptions by their contributor's userId. Returns a JSON result.","tags":["Transcriptions"],"parameters":[{"in":"path","name":"userId","schema":{"type":"string"},"required":true,"description":"userId of contributor whose transcriptions to return","example":"5b18f857-29d7-31a9-b944-f4e68c12fd3f"},{"$ref":"#/components/parameters/paramDebug"}],"responses":{"200":{"description":"A body of response data containing transcription objects if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/transcriptions/":{"put":{"summary":"Add or update a transcription.","description":"Add a transcription to a record.","tags":["Transcriptions"],"requestBody":{"description":"Add a transcription to a record.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/transcriptionBody"}}}},"parameters":[{"in":"query","name":"publish","schema":{"type":"boolean"},"required":false,"description":"publish flag which when true indicates that a transcription should be published","example":"true"}],"responses":{"200":{"description":"A response body containing confirmation that the transcription was added successfully."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"An error response while processing the request to add a transcription."}}},"post":{"summary":"Add a transcription.","description":"Add a transcription to a record.","tags":["Transcriptions"],"requestBody":{"description":"Add a transcription to a record.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/transcriptionBody"}}}},"responses":{"200":{"description":"A response body containing confirmation that the transcription was added successfully."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"An error response while processing the request to add a transcription."}}}},"/contributions/":{"put":{"summary":"Update a contribution.","description":"Update a contribution to a record.","tags":["Contributions"],"requestBody":{"description":"Update a contribution to a record.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/contributionBody"}}}},"parameters":[{"in":"query","name":"review","schema":{"type":"boolean"},"required":false,"description":"review flag which when true indicates that a contribution should be reviewed","example":"true"}],"responses":{"200":{"description":"A response body containing confirmation that the transcription was added successfully."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"An error response while processing the request to add a transcription."}}},"get":{"summary":"Get contribution data directly from the database.","description":"Get contribution data directly from the database. Returns a JSON result.","tags":["Contributions"],"parameters":[{"$ref":"#/components/parameters/paramUserId"},{"$ref":"#/components/parameters/paramContStatus"},{"$ref":"#/components/parameters/paramContType"},{"$ref":"#/components/parameters/paramTargetNaIdFilter"},{"$ref":"#/components/parameters/paramCreatedAtFilter"},{"$ref":"#/components/parameters/paramUpdatedAtFilter"},{"$ref":"#/components/parameters/paramSortBy"},{"$ref":"#/components/parameters/paramIncludeTotalCount"}],"responses":{"200":{"description":"A body of response data containing contribution data from the database if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/transcriptions/history/:parentContributionId":{"post":{"summary":"Get the history of a transcription.","description":"Get the history of a transcription to a record.","tags":["Transcriptions"],"parameters":[{"in":"query","name":"parentContributionId","schema":{"type":"string"},"required":true,"description":"parentContributionId indicating the transcription of which to request the history.","example":"232a3c9d-d0b5-32cb-a2d7-26c9eeab57a3"}],"responses":{"200":{"description":"A response body containing the transcription historyPos."},"400":{"description":"Bad Request. Invalid parentContributionId."}}}},"/transcriptions/:contributionId/justificationId/:justificationId":{"delete":{"summary":"Deactivate a transcription.","description":"Deactivate a transcription, reactivate the previous version if it exists.","tags":["Transcriptions"],"parameters":[{"in":"path","name":"contributionId","schema":{"type":"string"},"required":true,"description":"contributionId of a transcription to be deactivated.","example":"e3fe99d2-7af7-11ec-90d6-0242ac120003"},{"in":"path","name":"justificationId","schema":{"type":"integer"},"required":true,"description":"justificationId of the reason a transcription is being deactivated.","example":5},{"in":"query","name":"autoActivate","schema":{"type":"boolean"},"required":false,"description":"autoActivate tag which when true has the API choose a previous transcription to activate","example":true},{"in":"body","name":"userId","schema":{"type":"string"},"required":true,"description":"userId of the user that created the transcription to be deactivated.","example":"55555555-5555-5555-5555-555555555555"},{"in":"body","name":"actionNotes","schema":{"type":"string"},"required":false,"description":"Additional notes for the transcription being deactivated. Defaults to the empty string.","example":"Comment removed at users request."}],"responses":{"200":{"description":"A response body containing confirmation that the transcription was deactivated successfully."},"409":{"description":"An error response while processing the request to deactivate a transcription."}}},"post":{"summary":"Activate a transcription.","description":"Activate a transcription, deactivate any other versions if they exist.","tags":["Transcriptions"],"parameters":[{"in":"path","name":"contributionId","schema":{"type":"string"},"required":true,"description":"contributionId of a transcription to be activated.","example":"e3fe99d2-7af7-11ec-90d6-0242ac120003"},{"in":"path","name":"justificationId","schema":{"type":"integer"},"required":true,"description":"justificationId of the reason a transcription is being activated.","example":5},{"in":"body","name":"userId","schema":{"type":"string"},"required":true,"description":"userId of the user that created the comment to be deactivated.","example":"55555555-5555-5555-5555-555555555555"}],"responses":{"200":{"description":"A response body containing confirmation that the transcription was activated successfully."},"403":{"description":"Insufficient user permissions to change a transcription's status"},"409":{"description":"An error response while processing the request to activate a transcription."}}}},"/contributions/search":{"get":{"summary":"Get search results for contributions data by sending a request with search parameters to the catalog.","description":"Get search results for contributions data by sending a request with search parameters to the catalog. Returns a JSON result.","tags":["Contributions"],"parameters":[{"$ref":"#/components/parameters/paramContQuery"},{"$ref":"#/components/parameters/paramContId"},{"$ref":"#/components/parameters/paramUserName"},{"$ref":"#/components/parameters/paramUserId"},{"$ref":"#/components/parameters/paramNaId"},{"$ref":"#/components/parameters/paramDebug"},{"$ref":"#/components/parameters/paramSearchAfterContribution"}],"responses":{"200":{"description":"A body of response data containing full contribution objects if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/contributions/targetObjectId/{targetObjectId}":{"get":{"summary":"Get contribution data by target object id directly from the database.","description":"Get contribution data by target object id directly from the database. Returns a JSON result.","tags":["Contributions"],"parameters":[{"$ref":"#/components/parameters/paramTargetObjectId"},{"$ref":"#/components/parameters/paramContStatus"},{"$ref":"#/components/parameters/paramContType"},{"$ref":"#/components/parameters/paramTargetPageNum"}],"responses":{"200":{"description":"A body of response data containing contribution data from the database if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/contributions/parentContributionId/{parentContributionId}":{"get":{"summary":"Get contribution data by parent contribution id directly from the database.","description":"Get contribution data by parent contribution id directly from the database. Returns a JSON result.","tags":["Contributions"],"parameters":[{"$ref":"#/components/parameters/paramParentContUuid"},{"$ref":"#/components/parameters/paramContStatus"},{"$ref":"#/components/parameters/paramContType"},{"$ref":"#/components/parameters/paramTargetNaIdFilter"},{"$ref":"#/components/parameters/paramCreatedAtFilter"},{"$ref":"#/components/parameters/paramUpdatedAtFilter"},{"$ref":"#/components/parameters/paramSortBy"}],"responses":{"200":{"description":"A body of response data containing contribution data from the database if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/contributions/contributionId/{contributionId}":{"get":{"summary":"Get contribution data by contribution id directly from the database.","description":"Get contribution data by contribution id directly from the database. Returns a JSON result.","tags":["Contributions"],"parameters":[{"$ref":"#/components/parameters/paramContUuid"},{"$ref":"#/components/parameters/paramContStatus"},{"$ref":"#/components/parameters/paramContType"}],"responses":{"200":{"description":"A body of response data containing contribution data from the database if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/contributions/userId/{userId}":{"get":{"summary":"Get contribution data by user id directly from the database.","description":"Get contribution data by user id directly from the database. Returns a JSON result.","tags":["Contributions"],"parameters":[{"$ref":"#/components/parameters/paramContUserId"},{"$ref":"#/components/parameters/paramContStatus"},{"$ref":"#/components/parameters/paramContType"},{"$ref":"#/components/parameters/updatedAfter"},{"$ref":"#/components/parameters/paramTargetNaIdFilter"},{"$ref":"#/components/parameters/paramCreatedAtFilter"},{"$ref":"#/components/parameters/paramUpdatedAtFilter"},{"$ref":"#/components/parameters/paramSortBy"}],"responses":{"200":{"description":"A body of response data containing contribution data from the database if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/contributions/targetNaId/{targetNaId}":{"get":{"summary":"Get contribution data by target naId directly from the database.","description":"Get contribution data by target naId directly from the database. Returns a JSON result.","tags":["Contributions"],"parameters":[{"$ref":"#/components/parameters/paramTargetNaId"},{"$ref":"#/components/parameters/paramContStatus"},{"$ref":"#/components/parameters/paramContType"},{"$ref":"#/components/parameters/paramCreatedAtFilter"},{"$ref":"#/components/parameters/paramUpdatedAtFilter"},{"$ref":"#/components/parameters/paramSortBy"}],"responses":{"200":{"description":"A body of response data containing contribution data from the database if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/contributions/delete":{"delete":{"summary":"Deactivate/remove a contribution.","description":"Change the status of a contribution to 'inactive'","tags":["Contributions"],"parameters":[{"in":"body","name":"contributionList","schema":{"type":"array"},"required":true,"description":"Array containing contributionIds of the contribution to be deactivated/removed.","example":["e3fe99d2-7af7-11ec-90d6-0242ac120003","3fa85f64-5717-4562-b3fc-2c963f66afa"]},{"in":"body","name":"userId","schema":{"type":"string"},"required":true,"description":"Moderator's unique identifier which maps to the userId field in the MySQL database","example":"55555555-5555-5555-5555-555555555555"}],"responses":{"200":{"description":"A response body containing confirmation that the contribution was deactivated/removed successfully."},"409":{"description":"An error response while processing the request to deactivate/remove the contribution."}}}},"/users/userId/{userId}":{"get":{"summary":"Get public account data by account id directly from the database.","description":"Get public account data by account id directly from the database. Returns a JSON result.","tags":["Accounts"],"responses":{"200":{"description":"A body of response data containing public account data from the database if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/justifications":{"get":{"summary":"Get justifications directly from the database.","description":"Get justifications directly from the database. Returns a JSON result.","tags":["Justifications"],"parameters":[{"$ref":"#/components/parameters/paramAssociatedTable"}],"responses":{"200":{"description":"A body of response data containing public account data from the database if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/users/userName/{userName}":{"get":{"summary":"Get public account data by account id directly from the database.","description":"Get public account data by account id directly from the database. Returns a JSON result.","tags":["Accounts"],"responses":{"200":{"description":"A body of response data containing public account data from the database if any were found."},"422":{"description":"Unprocessable Entity."}}}},"/records/stats":{"get":{"summary":"Retrieve statistics related to user contributions.","description":"Fetches aggregated statistics for different contribution types (e.g., comments, tags, transcriptions) across various record types (e.g., authorityRecords, digitalObjects, descriptions). The results include a breakdown by contribution type and grand totals.","tags":["Statistics"],"responses":{"200":{"description":"Successfully retrieved contribution statistics.","content":{"application/json":{"schema":{"type":"object","properties":{"digitalObjects":{"$ref":"#/components/schemas/ContributionRecord"},"descriptions":{"$ref":"#/components/schemas/ContributionRecord"},"authorityRecords":{"$ref":"#/components/schemas/ContributionRecord"},"metaData":{"$ref":"#/components/schemas/MetaData"}}}}}},"500":{"description":"Internal server error"}}}},"/fetch-coords":{"post":{"summary":"Fetch JSON data from S3 based on a provided URL.","description":"This endpoint receives an S3 URL pointing to a resource, modifies the URL to target a JSON file instead of an image, and returns the content of the JSON file.","tags":["Utilities"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["s3Url"],"properties":{"s3Url":{"type":"string","description":"The S3 URL pointing to the original image file.","example":"https://s3.amazonaws.com/bucket-name/path/to/file.jpg"}}}}}},"responses":{"200":{"description":"JSON data successfully retrieved from the specified S3 URL.","content":{"application/json":{"schema":{"type":"object","properties":{"averageConfidenceScore":{"type":"number","description":"The average confidence score of the digital object transcription."},"data":{"type":"object","description":"The structure of the JSON data can vary depending on the content of the file.","example":{"DocumentMetadata":{"Pages":1},"Blocks":[{"BlockType":"PAGE","Text":"Example text"}]}}}}}}},"400":{"description":"Invalid S3 URL format. Please check the URL and try again."},"500":{"description":"Server error occurred while fetching JSON from S3."}}}},"/other-extracted-text/search":{"get":{"summary":"Get search results for active contribution data by sending a request to the catalog with other extracted text as a search parameter.","description":"Get search results for active contribution data by sending a request to the catalog with other extracted text as a search parameter. It returns a JSON result.","tags":["Other Extracted Text"],"parameters":[{"$ref":"#/components/parameters/paramOETQuery"},{"$ref":"#/components/parameters/paramContId"},{"$ref":"#/components/parameters/paramUserId"},{"$ref":"#/components/parameters/paramUserName"},{"$ref":"#/components/parameters/paramNaId"},{"$ref":"#/components/parameters/paramContStatus"},{"$ref":"#/components/parameters/paramCreatedAtFilter"},{"$ref":"#/components/parameters/paramUpdatedAtFilter"},{"$ref":"#/components/parameters/paramSortBy"},{"$ref":"#/components/parameters/paramIncludeTotalCount"}],"responses":{"200":{"description":"A body of response data containing other extracted objects if any were found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity."}}}},"/online-availability":{"get":{"summary":"Get all online availability information.","tags":["Online Availability"],"parameters":[{"$ref":"#/components/parameters/paramAvailability"},{"$ref":"#/components/parameters/paramAvailabilityStatus"},{"$ref":"#/components/parameters/paramNaId"},{"$ref":"#/components/parameters/paramLimit"},{"$ref":"#/components/parameters/paramPage"}],"responses":{"200":{"description":"A body of response data containing full record objects if any were found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity. Query must be a non-empty string."}}}},"/online-availability/naId/{naId}":{"get":{"summary":"Get all online availability information for a record with the given naId.","tags":["Online Availability"],"parameters":[{"$ref":"#/components/parameters/paramPathNaId"}],"responses":{"200":{"description":"A body of response data containing full record objects if any were found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity. Query must be a non-empty string."}}}},"/online-availability/update":{"put":{"summary":"Update or insert online availability information given a record's naId.","tags":["Online Availability"],"requestBody":{"description":"Add online availability information about a record.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/onlineAvailabilityBody"}}}},"responses":{"200":{"description":"A body of response data containing full record objects if any were found."},"400":{"description":"Bad Request. Invalid search terms, revise terms."},"422":{"description":"Unprocessable Entity. Query must be a non-empty string."}}}},"/online-availability/delete":{"delete":{"summary":"Completely remove online availability information for a given record naId.","tags":["Online Availability"],"parameters":[{"$ref":"#/components/parameters/paramNaId"}],"responses":{"200":{"description":"A message confirming the online availability status for the specified record was successfully deleted"},"500":{"description":"Internal server error."}}}},"users":{"0":{"name":"Users","description":"Information about users"}},"/users":{"get":{"summary":"Get public account data directly from the database","description":"Provide any combination of the parameters below to return all users that match this criteria. Use asterisks for wildcards. Values are NOT case sensitive.","x-role":"public","tags":["Accounts"],"parameters":[{"in":"query","name":"userId","schema":{"type":"string"},"description":"User id of the user account.","example":"55555555-5555-5555-5555-555555555555"},{"in":"query","name":"email","schema":{"type":"string"},"description":"Email address of the user account.","example":"johndoe@example.com"},{"in":"query","name":"userName","schema":{"type":"string"},"description":"Username of the user account.","example":"johndoe1"},{"in":"query","name":"fullName","schema":{"type":"string"},"description":"Full name of the user account.","example":"John Doe"},{"in":"query","name":"role","schema":{"type":"string"},"description":"Role of the user account.","example":"contributor"},{"in":"query","name":"status","schema":{"type":"string","enum":["active","deactivated"]},"description":"Status of the user account.","example":"active"},{"in":"query","name":"limit","schema":{"type":"integer"},"description":"Number of records to be returned on a page. Defaults to 5.","example":100},{"in":"query","name":"page","schema":{"type":"integer"},"description":"Page number of records to display. Defaults to 1.","example":2},{"in":"query","name":"sortCol","schema":{"type":"string"},"description":"Column name to sort the results by. Optional.","example":"userName"},{"in":"query","name":"sortOrder","schema":{"type":"string","enum":["asc","desc"]},"description":"Sort order, ascending or descending. Defaults to \"asc\" if not specified.","example":"asc"}],"responses":{"200":{"description":"A body of response data containing user records from the database that match search criteria.","content":{"application/json":{"schema":{"type":"object","properties":{"criteria":{"type":"object"},"metadata":{"type":"object","properties":{"totalCount":{"type":"integer","description":"The total number of users."}}},"results":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"400":{"description":"Invalid query parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"error":{"type":"array","items":{"type":"string"}}}}}}},"500":{"description":"Error retrieving data."}}},"patch":{"summary":"Update user information given a user's email.","description":"Update user information given a user. Requires an administrative account and a justification. Returns a JSON result.","tags":["Users"],"requestBody":{"description":"Update information about a user.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/userUpdateBody"}}}},"responses":{"200":{"description":"Successfully updated user"},"400":{"description":"Bad Request"},"422":{"description":"Unprocessable Entity - params are invalid"}}}},"/users/username":{"patch":{"summary":"Update a users username given their userId.","description":"Update user information given a user's userId. Returns a JSON result.","tags":["Users"],"requestBody":{"description":"Update information about a user.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/usernameUpdateBody"}}}},"responses":{"200":{"description":"Successfully updated user"},"400":{"description":"Bad Request"},"422":{"description":"Unprocessable Entity - params are invalid"}}}},"/users/notifications/:userId":{"get":{"summary":"Recieve the users notifications.","description":"Recieve the users notifications, including edited transcriptions, moderated contributions, and replies to comments. Notifications are contributions, with an additional field 'notificationType' to denote type.","tags":["Users"],"parameters":[{"in":"path","name":"userId","schema":{"type":"string"},"required":true,"description":"userId of the user recieving notifications.","example":"55555555-5555-5555-5555-555555555555"},{"in":"query","name":"countOnly","schema":{"type":"boolean"},"required":false,"description":"Recieve only the count of notifications, and none of the contributions.","example":true},{"in":"query","name":"date","schema":{"type":"string"},"required":false,"description":"Recieve only the notifications past a certain date. Date must be in YYYY-MM-DD format.","example":"2022-02-22"},{"in":"query","name":"limit","schema":{"type":"int"},"required":false,"description":"Limit the amount of returned notifications.","example":5},{"in":"query","name":"page","schema":{"type":"int"},"required":false,"description":"Page number for pagination of notifications. Page size is denoted by limit, defaults to 5. For example, if page = 3 notifications 10-14 will be returned.","example":2}],"responses":{"200":{"description":"Successfully retrieved notifications"},"422":{"description":"Unprocessable Entity - params are invalid"}}}},"/users/lastViewedNotificationsAt/:userId":{"put":{"summary":"Update the timestamp of the last time the user viewed their notifications.","description":"Update the timestamp of the last time the user viewed their notifications, by userId, to the current time.","tags":["Accounts"],"parameters":[{"in":"path","name":"userId","schema":{"type":"string"},"required":true,"description":"userId of the user who's lastViewedNotificationsAt is being updated.","example":"55555555-5555-5555-5555-555555555555"},{"in":"body","name":"lastViewedNotificationsAt","schema":{"type":"string"},"required":false,"description":"Optional timestamp to update lastViewedNotificationsAt with.","example":"2016-1-17T16:27:05.000Z"}],"responses":{"200":{"description":"A sucess response."},"422":{"description":"Unprocessable Entity."}}}},"/announcements/latest":{"get":{"summary":"Get a list of active announcements.","description":"Retrieve a paginated list of announcements.","tags":["Announcements"],"responses":{"200":{"description":"A list of announcements.","content":{"application/json":{"schema":{"type":"object","properties":{"announcements":{"type":"array","items":{"$ref":"#/components/schemas/Announcement"}}}}}}}}}},"/announcements":{"get":{"summary":"Get a list of announcements.","description":"Retrieve a paginated list of announcements.","tags":["Announcements"],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","default":1},"description":"The page number of announcements to retrieve."},{"in":"query","name":"limit","schema":{"type":"integer","default":10},"description":"The number of announcements to display per page."},{"in":"query","name":"status","schema":{"type":"string","enum":["ACTIVE","DRAFT","INACTIVE"]},"description":"The status of the announcements to filter by."},{"in":"query","name":"sortCol","schema":{"type":"string","enum":["status","created_at","updated_at","user_name"]},"description":"The column to sort the announcements by."},{"in":"query","name":"sortOrder","schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"description":"The order of sorting (ascending or descending)."}],"responses":{"200":{"description":"A list of announcements.","content":{"application/json":{"schema":{"type":"object","properties":{"metadata":{"type":"object","properties":{"totalCount":{"type":"integer","description":"The total number of announcements."},"activeCount":{"type":"integer","description":"The number of active announcements."},"draftCount":{"type":"integer","description":"The number of draft announcements."},"inactiveCount":{"type":"integer","description":"The number of inactive announcements."}}},"announcements":{"type":"array","items":{"$ref":"#/components/schemas/Announcement"}}}}}}}}},"post":{"summary":"Create a new announcement.","description":"Allows a moderator to create a new announcement. The announcement is initially created with a status of 'DRAFT'.","tags":["Announcements"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["announcement_text"],"properties":{"announcement_text":{"type":"string","description":"The content of the announcement."},"notes":{"type":"string","description":"Optional notes about the announcement."},"user_id":{"type":"integer","description":"The ID of the user who is creating the announcement."}}}}}},"responses":{"201":{"description":"Announcement created successfully. The response includes the created announcement details.","content":{"application/json":{"schema":{"type":"object","properties":{"announcement_id":{"type":"integer","description":"The unique identifier of the announcement."},"created_at":{"type":"string","format":"date-time","description":"The timestamp when the announcement was created."},"announcement_text":{"type":"string","description":"The content of the announcement."},"notes":{"type":"string","description":"Optional notes about the announcement."},"user_id":{"type":"string","description":"The ID of the user who created the announcement."},"status":{"type":"string","description":"The status of the announcement."}}}}}},"400":{"description":"Validation error. This can occur if the request body does not match the expected format."},"500":{"description":"Internal server error."}},"security":[{"ApiKeyAuth":[]}]}},"/announcements/{announcement_id}":{"put":{"summary":"Update an existing announcement.","description":"Allows a moderator to update an existing announcement.","tags":["Announcements"],"parameters":[{"in":"path","name":"announcement_id","required":true,"schema":{"type":"integer"},"description":"The unique identifier of the announcement to update."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"announcement_text":{"type":"string","description":"Updated content of the announcement."},"status":{"type":"string","enum":["DRAFT","ACTIVE","INACTIVE"],"description":"Updated status of the announcement."},"user_id":{"type":"string","format":"uuid","description":"The ID of the user who is updating the announcement."},"notes":{"type":"string","description":"Optional notes about the announcement."}}}}}},"responses":{"200":{"description":"Announcement updated successfully. Returns the updated announcement object.","content":{"application/json":{"schema":{"type":"object","properties":{"announcement_id":{"type":"integer","description":"The unique identifier of the announcement."},"announcement_text":{"type":"string","description":"Content of the announcement."},"status":{"type":"string","description":"Current status of the announcement."},"user_id":{"type":"string","format":"uuid","description":"The ID of the user who updated the announcement."},"user_name":{"type":"string","description":"The name of the user who updated the announcement."},"notes":{"type":"string","description":"Optional notes about the announcement."},"created_at":{"type":"string","format":"date-time","description":"Timestamp when the announcement was created."},"updated_at":{"type":"string","format":"date-time","description":"Timestamp when the announcement was last updated."}}}}}},"400":{"description":"Validation error."},"404":{"description":"Announcement not found."},"500":{"description":"Internal server error."}},"security":[{"ApiKeyAuth":[]}]}},"/partners/create":{"post":{"summary":"Create a new partner.","description":"Allows a moderator to create a new partner. The partner is initially created with a status of 'ACTIVE'.","tags":["Partner"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["status","fullName","userId"],"properties":{"userId":{"format":"uuid","type":"string","example":"3fa85f64-5717-4562-b3fc-2c963f66afa","description":"The Id of the partner."},"status":{"type":"string","example":"ACTIVE","description":"The current status of the partner. Default is set to active."},"fullName":{"type":"string","example":"Demo Partner","description":"The full name of the partner."}}}}}},"responses":{"201":{"description":"The partner was created successfully. The response includes the created partner details.","content":{"application/json":{"schema":{"type":"object","properties":{"partnerNameId":{"type":"string","example":"0360214c-55b4-4819-8f28-206b24cca41a","description":"The unique identifier of the partner.","format":"uuid"},"userId":{"format":"uuid","type":"string","example":"3fa85f64-5717-4562-b3fc-2c963f66afa","description":"The Id of the partner."},"status":{"type":"string","example":"ACTIVE","description":"The current status of the partner. Default is set to active."},"fullName":{"type":"string","example":"Demo Partner","description":"The full name of the partner."}}}}}},"400":{"description":"Validation error. This can occur if the request body does not match the expected format."},"500":{"description":"Internal server error."}},"security":[{"ApiKeyAuth":[]}]}},"/partners/search":{"get":{"summary":"Search for partners","description":"Allows users to search for partners via userId , partner name, partnerNameId or all","tags":["Partner"],"parameters":[{"in":"query","name":"partnerNameId","description":"partnerNameId of the partner being searched","required":false,"schema":{"maximum":50,"type":"string"},"example":"0360214c-55b4-4819-8f28-206b24cca41a"},{"in":"query","name":"fullName","description":"Full name of the partner being searched","required":false,"schema":{"maximum":100,"type":"string"},"example":"Demo Partner"},{"in":"query","name":"userId","description":"userId of the user that associated with the partner","required":false,"schema":{"maximum":50,"type":"string"},"example":"3fa85f64-5717-4562-b3fc-2c963f66afa"}],"responses":{"200":{"description":"List of the partners retrieved through the search criteria.","content":{"application/json":{"schema":{"type":"object","properties":{"partnerNameId":{"type":"string","description":"The unique identifier of the partner.","format":"uuid"},"userId":{"format":"uuid","type":"string","example":"3fa85f64-5717-4562-b3fc-2c963f66afa","description":"The Id of the partner."},"status":{"type":"string","example":"ACTIVE","description":"The current status of the partner. Default is set to active."},"fullName":{"type":"string","example":"Demo Partner","description":"The full name of the partner."}}}}}},"400":{"description":"Validation error. This can occur if the request body does not match the expected format."},"500":{"description":"Internal server error."}},"security":[{"ApiKeyAuth":[]}]}},"/partners/update":{"patch":{"summary":"Update partner name.","description":"Allows a moderator to update partner's full name and status.","tags":["Partner"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["partnerNameId","userId"],"properties":{"partnerNameId":{"type":"string","format":"uuid","example":"3fa85f64-5717-4562-b3fc-2c963f66afa","description":"Id of the partner to be updated."},"status":{"type":"string","example":"INACTIVE","description":"Current status of the partner to be updated."},"userId":{"type":"string","format":"uuid","example":"0360214c-55b4-4819-8f28-206b24cca41a","description":"Id of the account to do the update."},"fullName":{"type":"string","example":"Demo Partner Changed","description":"Name of the partner to be updated."}}}}}},"responses":{"200":{"description":"The partner was updated successfully. The response includes the updated partner name.","content":{"application/json":{"schema":{"type":"object","properties":{"partnerNameId":{"type":"string","format":"uuid","example":"3fa85f64-5717-4562-b3fc-2c963f66afa","description":"The unique identifier of the partner."},"userId":{"type":"string","format":"uuid","example":"0360214c-55b4-4819-8f28-206b24cca41a","description":"The unique identifier of the user making the changes."},"fullName":{"type":"string","format":"string","example":"Demo Partner Changed","description":"The new name of the partner."},"status":{"type":"string","format":"string","example":"INACTIVE","description":"The status of the partner."}}}}}},"400":{"description":"Validation error. This can occur if the request body does not match the expected format."},"500":{"description":"Internal server error."}},"security":[{"ApiKeyAuth":[]}]}},"/partners/contributions/partnerNameId/{partnerNameId}":{"get":{"summary":"Get partner contributions by partnerNameId.","description":"Allows a moderator to get partner contributions by partnerNameId.","tags":["Partner"],"parameters":[{"in":"path","name":"partnerNameId","type":"string","format":"uuid","required":true,"description":"The unique identifier of the partner.","example":"0360214c-55b4-4819-8f28-206b24cca41a"},{"$ref":"#/components/parameters/paramPage"},{"$ref":"#/components/parameters/paramLimit"}],"responses":{"200":{"description":"List of the partner contributions retrieved successfully."},"400":{"description":"Validation error. This can occur if the request body does not match the expected format."},"500":{"description":"Internal server error."}},"security":[{"ApiKeyAuth":[]}]}},"/partners/contributions/fullName/{fullName}":{"get":{"summary":"Get partner contributions by fullName.","description":"Allows a moderator to get partner contributions by id.","tags":["Partner"],"parameters":[{"in":"path","name":"fullName","type":"string","required":true,"description":"The fullName of the partner.","example":"NARA Partner"},{"$ref":"#/components/parameters/paramPage"},{"$ref":"#/components/parameters/paramLimit"}],"responses":{"200":{"description":"List of the partner contributions retrieved successfully."},"400":{"description":"Validation error. This can occur if the request body does not match the expected format."},"500":{"description":"Internal server error."}},"security":[{"ApiKeyAuth":[]}]}},"/metadata/naid-availability/naid/{naId}":{"get":{"summary":"Get digital object IDs by matching Ancestry metadata in partner-metadata index.","description":"Returns a list of digital object IDs that match the given naid in the partner-metadata index.","tags":["Metadata"],"parameters":[{"name":"naId","in":"path","required":true,"schema":{"type":"string"},"description":"The naid to search for in the partner-metadata index."}],"responses":{"200":{"description":"A list of digital object IDs.","content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"},"description":"List of matching digital object IDs."}}}}}},"400":{"description":"Bad Request. Invalid naid provided."},"404":{"description":"No matching records found."},"500":{"description":"Internal server error."}}}},"/extractedText/{naId}":{"get":{"summary":"Get extracted text for a given naid and digital object ID.","description":"Returns a list of extracted text for a given naid and digital object ID.","tags":["Extracted Text"],"parameters":[{"$ref":"#/components/parameters/paramPathNaId"},{"$ref":"#/components/parameters/paramObjectIdInQuery"},{"$ref":"#/components/parameters/paramPage"},{"$ref":"#/components/parameters/paramLimit"}],"responses":{"200":{"description":"A list of digital object IDs.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"objectId":{"type":"string","description":"The digital object ID."},"extractedText":{"type":"string","description":"The extracted text."}}}}}}},"400":{"description":"Bad Request. Invalid naid provided."},"404":{"description":"No matching records found."},"500":{"description":"Internal server error."}}}}},"components":{"properties":{"abolishDate":{"title":"abolishDate","description":"The date on which the organization was terminated, disbanded, inactivated, or superseded.","allOf":[{"$ref":"#/components/properties/qualifiableDate"}]},"accessRestriction":{"title":"accessRestriction","description":"The indication of, explicit markings for, and detailed notes regarding access restrictions on the archival materials.  Alerts users if access to the archival materials may be restricted.","type":"object","properties":{"note":{"type":"string","description":"Significant information pertaining to the access restrictions on archival materials.","examples":["The records may be restricted due to privacy concerns. Register numbers 1 through 900 have been screened and are open for research."]},"specificAccessRestrictions":{"type":"array","items":{"$ref":"#/components/properties/specificAccessRestriction"}},"status":{"type":"string","description":"The indication of whether or not there are access restrictions on the archival materials.","examples":["Restricted - Partly","Restricted - Possibly","Unrestricted"]}}},"accessionNumber":{"title":"accessionNumber","description":"The unique identifier assigned to a group of archival materials that have been transferred into the legal custody of NARA.  Links the description of the archival materials and their acquisition/accession documentation.","type":"string","examples":["NRFFA-276-99-0001","N3-58-88-1"]},"administrativeHistoryNote":{"title":"administrativeHistoryNote","description":"Explanations or significant information regarding the organization, including information relevant to an understanding of its creation, mission, functions, program areas, activities, incumbents, administrative and operational hierarchy, relationships to other corporate bodies, relationships with superior organizations, and earlier or successor names. Establishes an appropriate context for understanding the records created by an organization.","type":"string","examples":["MACV was abolished March 29, 1973, by authority of JCS message 4825 DTG 220021Z Nov 72.","Following U.S. entry into the war the Special Operations Group (SPOBS) became an advance element of a theater of operations and was redesignated Headquarters, U.S. Army Forces in the British Isles by direction of the President conveyed in War Department message 293, AGWAR to SPOBS, January 8, 1942, and announced by HQ USAFBI General Order 1, January 8, 1942."]},"ancestorCollection":{"title":"ancestorCollection","description":"Identifiable and pertinent information that represents a collection that is a parent or more distant ancestor to another archival description or control group.","type":"object","allOf":[{"$ref":"#/components/properties/ancestorDescription"}],"properties":{"collectionIdentifier":{"$ref":"#/components/properties/collectionIdentifier"}}},"ancestorDescription":{"title":"ancestorDescription","description":"Base model for ancestors (parent, grandparent, etc..) to descriptions","type":"object","properties":{"distance":{"$ref":"#/components/properties/distance"},"inclusiveEndDate":{"$ref":"#/components/properties/inclusiveEndDate"},"inclusiveStartDate":{"$ref":"#/components/properties/inclusiveStartDate"},"levelOfDescription":{"$ref":"#/components/properties/levelOfDescription"},"naId":{"$ref":"#/components/properties/naId"},"title":{"$ref":"#/components/properties/title"}}},"ancestorFileUnit":{"title":"ancestorFileUnit","description":"Identifiable and pertinent information that represents a file unit that is a parent or more distant ancestor of another archival description.","type":"object","properties":{"allOf":{"$ref":"#/components/properties/ancestorDescription"}}},"ancestorRecordGroup":{"title":"ancestorRecordGroup","description":"Identifiable and pertinent information that repsents a record group that is a parent or more distant ancestor to another archival description or control group.","type":"object","allOf":[{"$ref":"#/components/properties/ancestorDescription"}],"properties":{"recordGroupNumber":{"$ref":"#/components/properties/recordGroupNumber"}}},"ancestorSeries":{"title":"ancestorSeries","description":"Identifiable and pertinent information that represents a series that is a parent or more distant ancestor of another archival description.","type":"object","properties":{"allOf":{"$ref":"#/components/properties/ancestorDescription"},"creators":{"type":"array","items":{"oneOf":[{"$ref":"#/components/properties/creatingIndividual"},{"$ref":"#/components/properties/creatingOrganization"}]}}}},"arrangement":{"title":"arrangement","description":"The pattern or ordering sequence, such as alphabetical or chronological, of the archival material.  Helps users locate particular archival materials within a series or file unit.","type":"string","examples":["Arranged alphabetically by subject.","Unarranged."]},"audiovisual":{"title":"audiovisual","description":"Indicates if a file unit or series is audio-visual in nature.","type":"boolean","examples":[true,false]},"authorityReference":{"title":"authorityReference","description":"Heading and identifier of a primary authority record.  Represents a relationship between authorities or between authorities and descriptions.","type":"object","properties":{"authorityType":{"$ref":"#/components/properties/authorityType"},"heading":{"$ref":"#/components/properties/heading"},"naId":{"$ref":"#/components/properties/naId"}}},"authorityType":{"title":"authorityType","description":"Type of the primary authority used to control descriptive and entitic terms on archival materials.","type":"string","anyOf":[{"$ref":"#/components/properties/contextualAuthorityType"},{"$ref":"#/components/properties/descriptiveAuthorityType"}]},"beginCongress":{"title":"beginCongress","description":"The beginning number of the Congress during which the archival materials were created.","type":"integer","examples":[27,103]},"biographicalNote":{"title":"biographicalNote","description":"Explanations or significant information relevant to the understanding of a person's life or activities.","type":"string","examples":["Sarah Weddington was born in Abilene Texas in 1945. In 1965 she received her B.S. degree from McMurry College in Abilene, and in 1967 her J.D. from the University of Texas, Austin. She was a Texas state legislator and in private practice in Austin from 1972 to 1977, when she came to Washington to be the General Counsel of the Department of Agriculture. In October 1978 she became Special Assistant (Assistant after September 1979) to the President for Women's Affairs. In 1981 she returned to Austin to practice law."]},"birthDate":{"title":"birthDate","description":"The date on which the person was born.","allOf":[{"$ref":"#/components/properties/qualifiableDate"}]},"broadcastDate":{"title":"broadcastDate","description":"The date on which the item was first broadcast or another known broadcast date, if first date is unknown.","allOf":[{"$ref":"#/components/properties/qualifiableDate"}]},"broaderTerm":{"title":"broaderTerm","description":"An authorized, preferred heading that is broader in definition and scope","type":"object","properties":{"naId":{"$ref":"#/components/properties/naId"},"heading":{"$ref":"#/components/properties/heading"}}},"collectionIdentifier":{"title":"collectionIdentifier","description":"The unique identifier assigned to a collection.","type":"string","examples":["COLSA","BYRD"]},"contextualAuthorityType":{"title":"contextualAuthorityType","description":"The type of primary authority used to provide context by capturing the historical background of the organizations and individuals who created, contributed to, or are the subject of archival materials.","type":"string","enum":["Organization","Person"]},"contribution":{"title":"contribution","description":"The text of the tag, comment, or transcription entered by a user.","type":"string","examples":["Washington D.C.","Four score and seven years ago...","1991"]},"contributionId":{"title":"contributionId","description":"Uniquely identifies a public contribution among other contributions of the same type.","type":"string","examples":["72d186d6-8d88-11ec-b909-0242ac120002","82fb3958-8d88-11ec-b909-0242ac120002"]},"contributionSequence":{"title":"contributionSequence","description":"Represents the order in which contributions are made in relation to a parent contribution.","type":"integer","examples":[1,27]},"contributionTarget":{"title":"contributionTarget","description":"Values needed to identify the description, authority, or digital object that is the target of this contribution.","type":"object","properties":{"naId":{"$ref":"#/components/properties/naId"},"objectId":{"$ref":"#/components/properties/objectId"},"pageNum":{"$ref":"#/components/properties/pageNum"}}},"contributionType":{"title":"contributionType","description":"Identifies the type of public contribution.","type":"string","enum":["comment","tag","transcription"]},"contributor":{"title":"contributor","description":"An organization or person, other than the archival creator, responsible for the intellectual, technical, artistic, or financial production of the archival materials.","type":"object","properties":{"authorityType":{"$ref":"#/components/properties/contextualAuthorityType"},"contributorType":{"$ref":"#/components/properties/contributorType"},"heading":{"$ref":"#/components/properties/heading"},"naId":{"$ref":"#/components/properties/naId"}}},"contributorType":{"title":"contributorType","description":"The role of an individual who or an organization that contributed or contributes to archival materials.","type":"string","examples":["Compiler","Musician","Photographer","Producer"]},"coordinates":{"title":"coordinates","description":"Indicates the position of the place, expressed in degrees/minutes/seconds in accor. Latitude is the angular distance north or south of the equator, measured along a meridian. Longitude is the angular distance east or west of the Prime Meridian, which runs through Greenwich, England. Meridians are imaginary north-south lines on the Earth's surface that connect both geographic poles, used to measure longitude.","type":"string","examples":["16 00 N, 106 00 E (16, 106)","40 10 N, 087 45 W (40.167, -87.75)"]},"copyrightDate":{"title":"copyrightDate","description":"The date on which the item was copyrighted. (A copyright date does not mean an item is still copyrighted.)","allOf":[{"$ref":"#/components/properties/qualifiableDate"}]},"coverageEndDate":{"title":"coverageEndDate","description":"The end of the time period covered by the subject(s) of the archival materials.","allOf":[{"$ref":"#/components/properties/qualifiableDate"}]},"coverageStartDate":{"title":"coverageStartDate","description":"The beginning of the time period covered by the subject(s) of the archival materials.","allOf":[{"$ref":"#/components/properties/qualifiableDate"}]},"createdAt":{"title":"createdAt","description":"Date and time the public contribution was created.","type":"string","format":"date-time","examples":["2018-11-13 20:20:39","2020-01-29 08:11:00"]},"creatingIndividual":{"title":"creatingIndividual","description":"A person responsible for the creation, accumulation, or maintenance of the series when in working (primary) use.","type":"object","allOf":[{"$ref":"#/components/properties/creator"}],"properties":{"birthDate":{"$ref":"#/components/properties/birthDate"},"deathDate":{"$ref":"#/components/properties/deathDate"}}},"creatingOrganization":{"title":"creatingOrganization","description":"The name of an organization responsible for the creation, accumulation, or maintenance of the series when in working (primary) use.","type":"object","allOf":[{"$ref":"#/components/properties/creator"}],"properties":{"abolishDate":{"$ref":"#/components/properties/abolishDate"},"establishDate":{"$ref":"#/components/properties/establishDate"}}},"creator":{"title":"creator","description":"The name of a person or organization responsible for the creation, accumulation, or maintenance of the series when in working (primary) use.","type":"object","properties":{"authorityType":{"$ref":"#/components/properties/contextualAuthorityType"},"creatorType":{"$ref":"#/components/properties/creatorType"},"heading":{"$ref":"#/components/properties/heading"},"naId":{"$ref":"#/components/properties/naId"}}},"creatorType":{"title":"creatorType","description":"The means for indicating if a person or organization is the most recent or predecessor creator of archival materials.","type":"string","examples":["Most Recent","Predecessor"]},"custodialHistoryNote":{"title":"custodialHistoryNote","description":"The description of the custodial history for the archival materials from the time of their creation to the time of their accessioning by NARA. This information may be particularly important for personal papers, donated materials, and Federal records that do not come to NARA through the regular government records transfer process. Provides information on any changes of ownership or breaks in the government chain-of-custody that may impact the interpretation of the archival materials or are significant for ensuring their authenticity and integrity.","type":"string","examples":["In 1983 the U.S. Air Force loaned its pre-1945 and Korean War-era photographs and related documentation (including the subject index) to the National Air and Space Museum, Smithsonian Institution, in accordance with a Memorandum of Agreement. The purpose of the loan was, in part, to enable the National Air and Space Museum to produce a videodisc of the collection. The records remained at the museum until 1998 when they were accessioned into the National Archives.","The nucleus of the Stephen T. Mather Collection was placed in the Prints and Photographs Division of the Library of Congress in 1945. In 1954 it was transferred back to the National Park Service (NPS). While the collection was housed at the Library of Congress, the NPS added to it on a regular basis. No additions to the collection were made after 1954. The National Archives accessioned the Mather Collection in 1963."]},"dataControlGroup":{"title":"dataControlGroup","description":"Defines which office within NARA owns or is the custodian of the archival record.","type":"object","properties":{"groupId":{"type":"string","description":"Group identifier","examples":["RDTP1"]},"groupCode":{"type":"string","description":"A list of organizational units that describe a data control group.","examples":["ou=RDTP1,ou=groups"]},"groupName":{"type":"string","description":"The name of the data control group.","examples":["National Archives at Washington, DC - Textual Reference"]}}},"dateNote":{"title":"dateNote","description":"The explanation of various dates or predominant bulk dates or gaps in the archival materials.","type":"string","examples":["The bulk of these are from the period from 1940 to mid-1960s."]},"deathDate":{"title":"deathDate","description":"The date on which the person died.","allOf":[{"$ref":"#/components/properties/qualifiableDate"}]},"descriptiveAuthorityType":{"title":"descriptiveAuthorityType","description":"The type of primary authority used to control specific terms that help describe archival materials.","type":"string","enum":["Geographic Place Name","Specific Records Type","Topical Subject"]},"digitalObject":{"title":"digitalObject","description":"The digital representation of all or part of the archival materials being described.","type":"object","properties":{"extractedText":{"description":"Text that was able to be extracted from the digital object.","type":"string","examples":["Four score and seven years ago our fathers brought forth...","We the People of the United States, in Order to form a more perfect Union..."]},"otherExtractedText":{"description":"Text that was contributed by the NARA partners.","type":"string","examples":["Some text extracted by another OCR technology","Some text extracted by another advanced technology"]},"extractedTextAccurracy":{"description":"A percentage representing how accurately the text extracted from the digital object matches the text displayed in the object.","type":"integer","examples":[50,97]},"objectDescription":{"description":"A brief description of the digital object.","type":"string","examples":["Only the first page of this 12-page letter is available online.","Table of contents"]},"objectDesignator":{"description":"An identifier for each digital object when there is more than one digital object associated with an archival description.","type":"string","examples":["1","Page 1"]},"objectFileSize":{"description":"The size in bytes of the computer file containing the access version of the digital object.","type":"integer","examples":[600000000,202000]},"objectFilename":{"description":"The porition of the object URL that identifies the file without any directory or location.","type":"string","examples":["16-1557a.gif","c43674A.jpg"]},"objectId":{"$ref":"#/components/properties/objectId"},"objectType":{"description":"The type or file format of the digital object.","type":"string","examples":["World Wide Web Page","Portable Document File (PDF)"]},"objectUrl":{"description":"The identifier assigned to the file containing the access version of the digital object.","type":"string","examples":["https://nara-media-001.s3.amazonaws.com/arcmedia/media/images/16/16/16-1557a.gif","http://www.reaganlibrary.archives.gov/photos/large/c43674A.jpg"]},"thumbnailUrl":{"description":"The identifier assigned to the file containing the thumbnail version of the digital object.","type":"string","examples":["https://nara-media-001.s3.amazonaws.com/arcmedia/media/images/16/16/16-1557t.gif","http://www.reaganlibrary.archives.gov/photos/large/c43674T.jpg"]}}},"dispositionAuthorityNumber":{"title":"dispositionAuthorityNumber","description":"The unique identifier assigned by NARA to a category of records indicating that their disposition has been approved by NARA.  This is also known as the schedule number.","type":"string","examples":["N1-370-90-3, item 1501-16a","N1-59-91-33, item 1"]},"distance":{"title":"distance","description":"Indicates number of nodes removed an ancestor is from a descendent description.","type":"integer","examples":[1,2]},"donor":{"title":"donor","description":"The name of an organization or person that has donated a collection of archival materials.","type":"object","properties":{"authorityType":{"$ref":"#/components/properties/contextualAuthorityType"},"heading":{"$ref":"#/components/properties/heading"},"naId":{"$ref":"#/components/properties/naId"}}},"editStatus":{"title":"editStatus","description":"The identification of the production or pre-production stage of audiovisual materials (motion pictures, sound recordings or video recordings).","type":"string","examples":["Edited","Partially Edited"]},"endCongress":{"title":"endCongress","description":"The last number of the Congress during which the archival materials were created.","type":"integer","examples":[34,116]},"establishDate":{"title":"establishDate","description":"The date on which the organization was established.","allOf":[{"$ref":"#/components/properties/qualifiableDate"}]},"fileUnitCount":{"title":"fileUnitCount","description":"Total count of file units which are children of this object.","type":"integer","examples":[5023]},"fileUnitPhysicalOccurrence":{"title":"fileUnitPhysicalOccurrence","description":"Details about the physical occurrence of archival materials within a file unit.","type":"object","allOf":[{"$ref":"#/components/properties/physicalOccurrence"}],"properties":{"mediaOccurrences":{"type":"array","items":{"$ref":"#/components/properties/mediaOccurrence"}}}},"findingAid":{"title":"findingAid","description":"Tools that help users more easily find archival descriptions and materials.","type":"object","properties":{"fileFormat":{"type":"string","description":"The type or file format of the online finding aid.","examples":["HTML","Microsoft Word Document"]},"findingAidtype":{"type":"string","description":"The type of finding aid.","examples":["Index","Prelim. Checklist"]},"note":{"type":"string","description":"The explanation of significant information about a finding aid.","examples":["An alphabetical list of cities can be found in the research room."]},"source":{"type":"string","description":"The author or creator of the finding aid.","examples":["National Archives and Records Administration"]},"url":{"type":"string","format":"uri","description":"The URL associated with a finding aid.","examples":["http://www.archives.gov/rocky-mountain/finding-aids/naturalization/"]},"urlNote":{"type":"string","description":"Explanation of significant information about a finding aid url.","examples":["This Online Resource URL is a finding aid for naturalizations."]},"urlDescription":{"type":"string","description":"Description of the information contained at a finding aid url","examples":["This Online Resource URL is a finding aid for naturalizations."]}}},"formerCollection":{"title":"formerCollection","description":"The identifiable information of the collection to which the archival materials were previously allocated. Enables users to locate archival materials by their former collection citations, which can be found in out-of-date finding aids.","type":"object","properties":{"collectionIdentifier":{"$ref":"#/components/properties/collectionIdentifier"},"naId":{"$ref":"#/components/properties/naId"},"title":{"$ref":"#/components/properties/title"}}},"formerRecordGroup":{"title":"formerRecordGroup","description":"The number and indentifiable information of the record group to which the archival materials were previously allocated. Enables users to locate archival materials by their former record group citations, which can be found in out-of-date finding aids, such as earlier versions of the Guide to Federal Records in the National Archives of the United States.formerRecordGroup model description","type":"object","properties":{"naId":{"$ref":"#/components/properties/naId"},"recordGroupNumber":{"$ref":"#/components/properties/recordGroupNumber"},"title":{"$ref":"#/components/properties/title"}}},"formerlyContained":{"title":"formerlyContained","type":"array","description":"A list of naId values that were previously a part of the archival control group.","items":{"$ref":"#/components/properties/naId"}},"formerlyContainedBy":{"title":"formerlyContainedBy","type":"array","description":"A list of naId values representing archival control groups of which this series was a part.","items":{"$ref":"#/components/properties/naId"}},"fullerFormOfName":{"title":"fullerFormOfName","description":"A more complete form of a person's name than is indicated in the name field.","type":"string","examples":["(John Fitzgerald),","(William Childs),"]},"functionAndUse":{"title":"functionAndUse","description":"The description of why the archival materials were created. This element differs from scopeAndContentNote which describes the significant information contained within the records. This data element is about the activities that resulted in the creation of the archival materials. The scopeAndContentNote value is what is in the archival materials.","type":"string","examples":["The Reports of Death were created at field hospitals or by battlefield commanders and were later used by Sextons to complete Internment Records.","The minute books were created to record the court's activities on a daily basis, including both criminal and civil litigation."]},"generalMediaType":{"title":"generalMediaType","description":"The general physical media form of the archival materials.","type":"string","examples":["Loose Sheets","Magnetic Media"]},"generalNote":{"title":"generalNote","description":"Significant information that does not belong in any other element. Provides a place to capture information significant to the public that is not appropriate for any other element.","type":"string","examples":["This series serves as an index to the series 'Correspondence of the Director, 1880-1932.'","This series was known as 'Miscellaneous' in previous finding aids."]},"generalRecordType":{"title":"generalRecordType","description":"The general intellectual form of the archival materials. Allows users to search for archival materials by general records types.","type":"string","examples":["Data Files","Photographs and other Graphic Materials","Textual Records"]},"geographicPlaceNameLinkCounts":{"title":"geographicPlaceNameLinkCounts","description":"Tracks the number and manner of the relationships to a geographic place name authority record.","type":"object","properties":{"geographicPlaceName":{"description":"Total numer of times this geographic place name is referred to in another geographic place name authority record.","examples":[1,1330]},"jurisdiction":{"description":"Total number of times this geographic place name acts as the juristiction of an organization.","type":"integer","examples":[3,349]},"organization":{"description":"Total number of times this geographic place anem is referred to in an organization authority record.","type":"integer","examples":[99,1]},"subject":{"description":"Total number of times this geographic place name acts as the subject of archival materials.","type":"integer","examples":[77,910]},"totalDescription":{"description":"Total number of times this geographic place name is referred to, in any way, in archival materials.","type":"integer","examples":[101,324]}}},"geographicReference":{"title":"geographicReference","description":"The geographic area represented in the archival materials.","allOf":[{"$ref":"#/components/properties/authorityReference"}]},"heading":{"title":"heading","description":"A version of the authorized name of an authority that includes additional information such as dates or fuller forms of names.","type":"string","examples":["Dulles, John Foster, 1888-1959","Kennedy, John F. (John Fitzgerald), 1917-1963","Department of Defense. Department of the Navy. U.S. Naval Support Activity, Chu Lai, Vietnam. 1964-1971"]},"holdingsMeasurement":{"title":"holdingsMeasurement","description":"The unit and quantity of the archival materials in the series.","type":"object","properties":{"count":{"type":"number","description":"The quantity of the archival materials in the series. For artifacts, it counts the number of artifacts in the series. For electronic data, it counts the number of logical data records in the series. For all other records, it counts the number of each type of physical container in which archival materials are stored.","examples":[267,0.5]},"type":{"type":"string","description":"The unit by which archival materials are counted physically for performance measures. The unit is either a physical container or physical entity. Examples of physical containers include legal-size or letter-size boxes, aerial film cans, cabinet drawers, and bound volumes. Physical entities include artifacts and logical data records.","examples":["LTA-S","MAP-1"]}}},"importRecordControlNumber":{"title":"importRecordControlNumber","description":"The number assigned by the organization that created or distributed an imported authority record. It provides traceability for an imported authority record back to the original external source.","type":"string","examples":["n 79021421","n 84804450"]},"inclusiveEndDate":{"title":"inclusiveEndDate","description":"The ending date on which the record group, collection, series, or item was created, maintained, or accumulated by the creator.","allOf":[{"$ref":"#/components/properties/qualifiableDate"}]},"inclusiveStartDate":{"title":"inclusiveStartDate","description":"The beginning date on which the record group, collection, series, or item was created, maintained, or accumulated by the creator.","allOf":[{"$ref":"#/components/properties/qualifiableDate"}]},"internalTransferNumber":{"title":"internalTransferNumber","description":"The unique identifier assigned to a group of archival materials that was transferred within NARA. This type of information is particularly important for archival materials that have been regionalized.","type":"string","examples":["NNTR-S-94-155","NN3-74-89-001"]},"itemAvMediaOccurrence":{"title":"itemAvMediaOccurrence","description":"Additional media occurrence information available for audtiovisual items.","type":"object","allOf":[{"$ref":"#/components/properties/mediaOccurrence"}],"properties":{"base":{"type":"string","description":"The substance of the media used to physically carry or hold the information in the archival item. Also called the substrate.","examples":["Cellulose Acetate","Paper"]},"elementNumber":{"type":"integer","description":"The number assigned to an individual physical component that makes up a reel, tape, or disc. Commonly used when a film reel is made up of separate sound and picture elements, or when a film reel is composed of A and B rolls. For example, a film reel may be composed of an image reel and a soundtrack reel. The image reel could be designated element number 1, and the soundtrack reel could be designated element number 2.","examples":[1,2]},"emulsion":{"type":"string","description":"The type of coating that is bonded to and supported by the base of the specific media type.","examples":["Metal Evaporation","Ferric Oxide"]},"footage":{"type":"integer","description":"The length in feet for an individual roll or reel in an audiovisual item.","examples":[502,465]},"format":{"type":"string","description":"The format of the media comprising the audiovisual materials. For example, the format of videotape can be VHS or Betamax, the format for sound recordings can be Master or Stamper Matrix, or the format for motion pictures can be Duplicate Negative Composite or Master Projection Print Composite.","examples":["Dication Belt: Magnabelt","Sound: Mass Produced Pressing"]},"otherPreservationCharacteristics":{"type":"array","items":{"$ref":"#/components/properties/otherPreservationCharacteristics"}},"recordingSpeed":{"type":"string","description":"The speed at which audio recordings are recorded or reproduced. For audio tapes, the measurement is inches per second (ips). For audio discs or cylinders, the measurement is revolutions per minute (rpm).","examples":["Audio Disk: 120 rpm","Audio Tape: 15 ips"]},"reelTapeDiscNumber":{"type":"integer","description":"Could not find description in LCDRG","examples":[44,3]},"roll":{"type":"string","description":"Indication of the roll used in a motion picture. In creating a film, alternate scenes are typically assembled in checkerboard fashion on two or more different rolls with black leaders between scenes to facilitate fades and dissolves and to ultimately produce a single strip master positive from which a duplicating negative (dupe neg) can then be made.","examples":["A Roll","B Roll"]},"runningTime":{"type":"integer","description":"The duration in seconds of the individual parts (reels, tapes, rolls) of an audiovisual item.","examples":[7200,290]},"soundtrackConfiguration":{"type":"string","description":"The recording configuration of a sound recording or motion picture soundtrack.","examples":["Film: Variable Area, Push-pull","Sound: Dual"]},"soundtrackLanguage":{"type":"string","description":"The language of the soundtrack for a motion picture or video recording.","examples":["Dutch","German"]},"tapeThickness":{"type":"string","description":"The thickness of the tape on which the audiovisual item has been recorded.","examples":["0.5 mil","1.0 mil"]},"wind":{"type":"string","description":"The playback direction of the reel/roll.","examples":["A Wind","B Wind"]}}},"itemAvPhysicalOccurrence":{"title":"itemAvPhysicalOccurrence","description":"itemAvPhysicalOccurrence model description","type":"object","allOf":[{"$ref":"#/components/properties/physicalOccurrence"}],"properties":{"mediaOccurrences":{"type":"array","items":{"$ref":"#/components/properties/itemAvMediaOccurrence"}},"totalFootage":{"type":"number","description":"The length in feet of all the reels or rolls that make up the entire copy of an audiovisual item.","examples":[43,1002]},"totalRunningTime":{"type":"integer","description":"The total duration of an audiovisual item in seconds.","examples":[2340,182]}}},"itemCommon":{"title":"itemCommon","description":"The smallest indivisible archival unit (e.g. a letter, memorandum, report, leaflet, or photograph). For example, a book or record album would be described as an item, but the individual chapters of the book or the discs or songs that make up the album would not be described as items.","type":"object","properties":{"accessionNumber":{"$ref":"#/components/properties/accessionNumber"},"accessRestriction":{"$ref":"#/components/properties/accessRestriction"},"ancestors":{"description":"Identifiable and otherwise relevant information about archival control groups or hierarchical description levels that are parents or more distant ancestors to this file unit.","type":"array","items":{"oneOf":[{"$ref":"#/components/properties/ancestorRecordGroup"},{"$ref":"#/components/properties/ancestorCollection"},{"$ref":"#/components/properties/ancestorSeries"},{"$ref":"#/components/properties/ancestorFileUnit"}]}},"audiovisual":{"$ref":"#/components/properties/audiovisual"},"beginCongress":{"$ref":"#/components/properties/beginCongress"},"contributors":{"type":"array","items":{"oneOf":[{"$ref":"#/components/properties/organizationalContributor"},{"$ref":"#/components/properties/personalContributor"}]}},"copyrightDates":{"type":"array","items":{"$ref":"#/components/properties/copyrightDate"}},"coverageEndDate":{"$ref":"#/components/properties/coverageEndDate"},"coverageStartDate":{"$ref":"#/components/properties/coverageStartDate"},"custodialHistoryNote":{"$ref":"#/components/properties/custodialHistoryNote"},"dataControlGroup":{"$ref":"#/components/properties/dataControlGroup"},"dateNote":{"$ref":"#/components/properties/dateNote"},"levelOfDescription":{"$ref":"#/components/properties/levelOfDescription"},"digitalObjects":{"type":"array","items":{"$ref":"#/components/properties/digitalObject"}},"endCongress":{"$ref":"#/components/properties/endCongress"},"generalNotes":{"type":"array","items":{"$ref":"#/components/properties/generalNote"}},"generalRecordsTypes":{"type":"array","items":{"$ref":"#/components/properties/generalRecordType"}},"internalTransferNumbers":{"type":"array","items":{"$ref":"#/components/properties/internalTransferNumber"}},"languages":{"type":"array","items":{"$ref":"#/components/properties/language"}},"localIdentifier":{"$ref":"#/components/properties/localIdentifier"},"microformPublications":{"type":"array","items":{"$ref":"#/components/properties/microformPublication"}},"naId":{"$ref":"#/components/properties/naId"},"onlineResources":{"type":"array","items":{"$ref":"#/components/properties/onlineResource"}},"otherTitles":{"type":"array","items":{"$ref":"#/components/properties/otherTitle"}},"partyDesignation":{"$ref":"#/components/properties/partyDesignation"},"productionDates":{"type":"array","items":{"$ref":"#/components/properties/productionDate"}},"recordsCenterTransferNumbers":{"type":"array","items":{"$ref":"#/components/properties/recordsCenterTransferNumber"}},"recordType":{"$ref":"#/components/properties/recordType"},"scaleNote":{"$ref":"#/components/properties/scaleNote"},"scopeAndContentNote":{"$ref":"#/components/properties/scopeAndContentNote"},"subjects":{"type":"array","items":{"oneOf":[{"$ref":"#/components/properties/geographicReference"},{"$ref":"#/components/properties/organizationalReference"},{"$ref":"#/components/properties/personalReference"},{"$ref":"#/components/properties/specificRecordsTypeReference"},{"$ref":"#/components/properties/topicalSubjectReference"}]}},"subtitle":{"$ref":"#/components/properties/subtitle"},"title":{"$ref":"#/components/properties/title"},"transferNote":{"$ref":"#/components/properties/transferNote"},"useRestriction":{"$ref":"#/components/properties/useRestriction"},"variantControlNumbers":{"type":"array","items":{"$ref":"#/components/properties/variantControlNumber"}}}},"itemCount":{"title":"itemCount","description":"Number of items (including audiovisual items) within this series or file unit","type":"integer","examples":[101,7]},"itemMediaOccurrence":{"title":"itemMediaOccurrence","description":"Additional media occurrence information only available for items.","type":"object","allOf":[{"$ref":"#/components/properties/mediaOccurrence"}],"properties":{"base":{"type":"string","description":"The substance of the media used to physically carry or hold the information in the archival item. Also called the substrate.","examples":["Cellulose Acetate","Paper"]},"emulsion":{"type":"string","description":"The type of coating that is bonded to and supported by the base of the specific media type.","examples":["Metal Evaporation","Ferric Oxide"]},"otherPreservationCharacteristics":{"type":"array","items":{"$ref":"#/components/properties/otherPreservationCharacteristics"}}}},"itemPhysicalOccurrence":{"title":"itemPhysicalOccurrence","description":"itemPhysicalOccurrence model description","type":"object","allOf":[{"$ref":"#/components/properties/physicalOccurrence"}],"properties":{"mediaOccurrences":{"type":"array","items":{"$ref":"#/components/properties/itemMediaOccurrence"}}}},"jurisdiction":{"title":"jurisdiction","description":"The geographic area over which the organization had an administrative responsibility or about which it collected information.  Represents a geographical name authority record.","type":"object","properties":{"naId":{"$ref":"#/components/properties/naId"},"name":{"description":"The name of the jurisdiction","type":"string","examples":["Japan (Asia) nation","Aomori (Tohoku-chiho, Japan, Asia) prefecture"]}}},"language":{"title":"language","description":"The language used in the archival materials.","type":"string","examples":["Algonquian (Other)","Portuguese"]},"levelOfDescription":{"title":"levelOfDescription","description":"The archival control group level (record group or collection) or hierarchical description level (series, file unit, or item) of the archival materials.","type":"string","enum":["Record Group","Collection","File Unit","Series","Item"]},"linkCounts":{"title":"linkCounts","description":"Tracks the number and manner of the relationships between records.","type":"object","properties":{"totalDescription":{"description":"Total number of times this person is referred to, in any way, in archival materials.","type":"integer","examples":[101,324]}}},"localIdentifier":{"title":"localIdentifier","description":"The identifier that a NARA custodial unit specifies to be used to request archival materials in the unit's custody.","type":"string","examples":["64-371","3.3","85-02-04-01.9"]},"location":{"title":"location","description":"Information about where the archival materials are kept.","type":"object","properties":{"facility":{"type":"string","description":"The building where archival materials are kept.","examples":["John F. Kennedy Library (Boston, MA)","National Archives Building - Archives I (Washington, DC)"]},"note":{"type":"string","description":"Location Note indicates the particular location of the archival materials within a building.","examples":["These materials are located in Research Room 5050.","These items are located in the cold vault."]}}},"mediaOccurrence":{"title":"mediaOccurrence","description":"Provides information about the physical description of the archival materials and additional information used to describe the media occurrence of the archival materials.","type":"object","properties":{"color":{"type":"string","description":"The absence or presence of colors, besides black, white and gray, of the specific media type.","examples":["Color","Black-and-White"]},"containerId":{"type":"string","description":"The identifier or number for the individual container storing each specific media type.","examples":["Box 6829","27"]},"depth":{"type":"number","description":"The distance measured from front to back of a specific media type.","examples":[6.75,10]},"dimension":{"type":"string","description":"The standard size of the physical items of a specific media type.","examples":["3x5 inch","Varied"]},"generalMediaTypes":{"type":"array","items":{"$ref":"#/components/properties/generalMediaType"}},"height":{"type":"number","description":"The dista
[...]
